body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background: linear-gradient(black,rgb(76, 75, 75),black )
  }
  
  ul {
    list-style-type: none;
    ul li {
        display: inline-block;
        margin: 10px;
        a {
            text-decoration: none;
            font-weight: 700;
            color: #000000;
            h3 {
                text-decoration: underline;
              }
          }
          
      }
  }


  
  

 
  
  .h1sn {
    text-align: center;
    margin: 15px 0;
    background-color:#007bff8b;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Josefin Sans', sans-serif;
  font-family: 'Young Serif', serif;
  border-top: solid 2px #15151d;
  border-right: solid 2px #15151d;
  border-radius: 5px 5px 5px 5px;
  border-bottom: solid 2px #15151d;
  border-left: solid 2px #15151d;;
  h1 {
    font-size: 2rem; 
    color: #333;
    text-transform: uppercase;
    text-align: center; 
    margin: 20px 0; 
    letter-spacing: 3px; 
    font-family: 'Kanit', sans-serif; 
    border-bottom: 2px solid #333;
    padding-bottom: 10px; 
    background: linear-gradient(rgb(99, 97, 150),rgb(76, 75, 75),rgb(99, 97, 150) );
  
  }
  }
 
 
 
  .container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
  
   
  }
  .map {
    display: block;
    margin: 0 auto; 
}