@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: linear-gradient(black, rgb(76, 75, 75), black);
}

ul {
  list-style-type: none;
}
ul ul li {
  display: inline-block;
  margin: 10px;
}
ul ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}
ul ul li a h3 {
  text-decoration: underline;
}

.h1sn {
  text-align: center;
  margin: 15px 0;
  background-color: rgba(0, 123, 255, 0.5450980392);
  border-radius: 20px 20px 20px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Young Serif", serif;
  border-top: solid 2px #15151d;
  border-right: solid 2px #15151d;
  border-radius: 5px 5px 5px 5px;
  border-bottom: solid 2px #15151d;
  border-left: solid 2px #15151d;
}
.h1sn h1 {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 3px;
  font-family: "Kanit", sans-serif;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  background: linear-gradient(rgb(99, 97, 150), rgb(76, 75, 75), rgb(99, 97, 150));
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.map {
  display: block;
  margin: 0 auto;
}

.product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  flex-direction: column; /* Cambia la dirección de los elementos a columna */
  align-items: center; /* Centra los elementos verticalmente */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  padding-bottom: 10px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

h2.pill-text-gray {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(45deg, #cacaca, #453e3e);
  color: #000000;
  border-radius: 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
}

.buy-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  color: #777;
  margin: 10px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #0077b5;
}
.price .buy-button {
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.price .buy-button .buy-button:hover {
  background-color: #005580;
}

.galeria-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 90px auto 36px;
}
.galeria-grid .galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.galeria-grid .galeria .galeria section {
  width: 450px;
}
.galeria-grid .galeria .galeria section .img-galeria {
  text-align: center;
  margin: 5px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  border: 1px solid #9baebc;
  border-radius: 15px 15px 15px 15px;
  margin: 5px;
  border-top: solid black;
  border-right: solid black;
  border-bottom: solid black;
  border-left: solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 50px;
}

/* Estilos para el footer */
.footer {
  background-color: #0a0a0a; /* Fondo oscuro */
  color: #fff; /* Texto en color claro */
  padding: 40px 0; /* Espaciado interno */
  font-family: "Roboto", sans-serif; /* Fuente moderna */
  display: flex;
  justify-content: center;
}

/* Estilos para el contenedor principal del footer */
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Estilos para el logo en el footer */
.footer .footer-logo img {
  max-width: 150px; /* Tamaño máximo del logo */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2)); /* Sombra suave */
}

/* Estilos para los enlaces en el footer */
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer .footer-links ul li {
  margin-right: 20px;
}

.footer .footer-links ul li:last-child {
  margin-right: 0;
}

.footer .footer-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  font-weight: bold;
}

.footer .footer-links ul li a:hover {
  color: #ffd700; /* Cambia el color al pasar el mouse */
}

/* Estilos para la sección de contacto en el footer */
.footer .footer-contact {
  text-align: right;
  padding: 10px;
}

.footer .footer-contact h4 {
  margin-bottom: 10px;
  font-size: 20px; /* Tamaño del título */
  color: #ffd700; /* Color de título resaltado */
}

.footer .footer-contact p {
  margin: 5px 0;
  color: #aaa; /* Color de texto más claro */
  font-size: 16px; /* Tamaño de texto */
}

/* Estilos para el hover general */
.footer a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el mouse */
}

/* Estilos para la sección de video */
/* Estilos para el contenedor del video */
.iframe-video {
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto en color claro */
  padding: 40px;
  text-align: center;
}

/* Estilos para el título */
.iframe-video .title {
  font-size: 28px; /* Aumenta el tamaño del título */
  margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para el reproductor de video */
.iframe-video iframe {
  max-width: 800px; /* Ajusta el ancho máximo del reproductor al tamaño del contenedor */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: 450px; /* Aumenta la altura del reproductor */
  border: none; /* Elimina el borde alrededor del reproductor */
}

.logo {
  max-width: 100%;
}

.navbar {
  background-color: #56efbc;
  font-family: "Lato", sans-serif;
  color: #000000;
  padding: 0px;
}
.navbar .navbar a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: rgba(68, 0, 255, 0.6666666667);
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar .logo {
  width: 50px;
  height: auto;
}

header {
  height: auto;
}

@media (min-width: 480px) and (max-width: 576px) {
  header {
    height: auto;
  }
  ul li {
    display: block;
  }
  .title {
    font-size: 1.8em;
    padding: 10px;
  }
  .weekend-info {
    flex-direction: column;
  }
  .weekend-text {
    border-top: none;
    border-right: none;
    border-bottom: solid 10px #ff1e00;
    border-left: solid 10px #ff1e00;
  }
  .weekend-img {
    max-width: 100%;
  }
  .news-cards {
    flex-direction: column;
  }
  .video {
    width: 460px;
  }
  /* Seccion de galeria */
  .ejemplo-grid {
    grid-template-rows: 120px auto 36px;
  }
}
.title {
  align-items: center;
  font-family: "Kanit", sans-serif;
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  color: #000000;
  background: linear-gradient(100deg, #ffffff, #545557);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.title .title-text {
  padding: 10px;
}
.title .title-text .subtitles {
  font-family: "Kanit", sans-serif;
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  background: linear-gradient(45deg, #ff6b6b, #556270);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.weekend-info {
  background-color: rgba(245, 245, 245, 0);
  padding: 20px;
  border: 1px solid rgba(42, 16, 16, 0);
  display: flex;
  align-items: center;
}
.weekend-info .weekend-img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  max-width: 300px;
  margin-right: 20px;
}
.weekend-info .weekend-img .weekend-text {
  flex: 1;
}
.weekend-info .weekend-img .weekend-text .subtitle {
  font-size: 24px;
  color: #000000;
}
.weekend-info .weekend-img .weekend-text .subtitle .weekend-text p {
  font-size: 16px;
  line-height: 1.6;
}
.weekend-info .weekend-img .weekend-text .subtitle .weekend-text p .weekend-info:hover {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.carousel img {
  max-width: 100%;
  height: auto;
}
.carousel img .carousel-item {
  text-align: center;
}
.carousel img .carousel-item .carousel-container {
  margin: 0;
  padding: 0;
}
.carousel img .carousel-item .carousel-container .carousel-item img {
  max-width: 100%;
  height: auto;
}
.carousel img .carousel-item .carousel-container .carousel-item img .carousel-caption h5 {
  color: black;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  overflow: hidden;
  background-color: rgba(68, 0, 255, 0.6666666667);
}

.social-buttons {
  position: fixed;
  top: 90%;
  right: 20px;
  transform: translateY(-50%);
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.social-button .social-button i {
  font-size: 20px;
}
.social-button .social-button i .social-button:hover {
  background-color: #0056b3;
}

.content {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  color: #333;
}

.p1 {
  font-size: 16px;
  color: #666;
}

.section {
  margin-bottom: 20px;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section:nth-child(odd) {
  background-color: #f9f9f9;
}

.section-title {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-content {
  padding: 20px;
}

.form {
  background-color: darkslategrey;
}/*# sourceMappingURL=styles.css.map */